* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('../image/Earth.webp'); 
    /* background: url('https://www.baltana.com/files/wallpapers-14/Earth-Best-HD-Wallpaper-36768.png'); */
    /* background: url('https://wallpapers.com/images/hd/world-background-01ykoes3kwazcjpk.jpg'); */
    background-size: cover;
    background-position: center;
    filter: blur(3px) brightness(0.85);  
    z-index: -1;
    transform: scale(1.05); /* Reduce GPU load */
}


.country-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  border-radius: 20px;
  padding: 15px;

  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);

  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  transition: .3s ease;
}

.country-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(0,170,255,0.9);
  border: 1px solid rgba(0,170,255,0.9);
}



.country-flag {
    height: 140px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.country-title {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.country-code {
    font-size: 0.85rem;
    color: #6c757d;
}


.country-flag {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* -------------- */
.search-box {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.search-box input {
  width: 320px;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

.search-box input:focus {
  box-shadow: 0 4px 18px rgba(0,150,255,0.4);
}

/* ---------------- */
