* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('https://www.baltana.com/files/wallpapers-14/Earth-Best-HD-Wallpaper-36768.png');
    filter: blur(5px) brightness(0.85);
    z-index: -1;
    transform: scale(1.1);

    /* background: url('https://wallpapers.com/images/hd/world-background-01ykoes3kwazcjpk.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}


.country-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.country-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(0, 170, 255, 0.7);
    border: 1px solid rgba(0, 170, 255, 0.8);
}


.country-flag {
    height: 140px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.country-title {
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.country-code {
    font-size: 0.85rem;
    color: #6c757d;
}




/* -------------- */
.country-card {
    width: 280px;
    border-radius: 20px;
    padding: 15px;
    backdrop-filter: blur(15px);
    /* background: rgba(255, 255, 255, 0.12); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
     width: 100%;
  max-width: 300px;   /* optional (max limit) */
  margin: 0 auto; 
}

.country-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 35px rgba(0, 170, 255, 0.8);
    border-color: rgba(0, 170, 255, 0.8);
}


.country-flag {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* -------------- */
.search-box {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.search-box input {
  width: 320px;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

.search-box input:focus {
  box-shadow: 0 4px 18px rgba(0,150,255,0.4);
}

/* ---------------- */
